<div class="about row">

    <div class="col-md-8">

        <h2>About Me</h2>

        <h4>　　软件技术专业毕业，职业目标→企业级Java架构师。
		此博客用于分享学习经验以及优秀的开源项目，详细学习笔记和总结使用
		<a href="https://1drv.ms/u/s!AjD2d33heRm5iFyJ-ieTbnAxrHd5">OneNote</a>管理，技能树不断扩张中</h4>

        <h2>Contact</h2>

	<h4><ul>
             <li>QQ：<a href="tencent://message/?uin=1181924987&Site=Sambow&Menu=yes">1181924987</a></li>
            <li>GitHub：<a href="https://github.com/Z-Beatles">Wang Bo</a></li>
            <li>OneNote：<a href="https://1drv.ms/u/s!AjD2d33heRm5iFyJ-ieTbnAxrHd5">OneNote笔记</a></li>
            <li>Email：<a href="#" target="_top">wbnames@163.com</a></li>
        </ul></h4>

        <h2>Skill Keywords</h2>

        {% if site.skill_Java_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Java Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Java_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Tools_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tools Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Tools_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Android_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Android Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Android_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_Computer_Network_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Computer Network Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_Computer_Network_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_SQL_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SQL Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_SQL_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_OS_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">OS Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_OS_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <br/>
        <hr>
        <h2  id="jump">Comments</h2>
        <br/>
        <!-- Comments-->
        <p>提示：如disqus评论无法正常显示，请检查能否访问外网，再重新加载. 如果还不行,, 那就别弄了</p>
        {% include disqus-comments.html %}
    </div>
    
    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>
</div>
